<!DOCTYPE html>
<head>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
  <link href='css/card.css' rel='stylesheet' type='text/css'>
  <style>
#box{ 
  background-image: url(<%= @form.card %>);
   height: 353px;
   width: 243px;
   border: 2px solid transparent;
   font-family: 'Titillium Web', sans-serif;
   color: white;
   text-shadow: 1px 1px 1px #333;
   text-transform: uppercase;    
}
</style>
</head>

<body>
  <div id="box">
    <center><p id="name"><%= @form.name %></p></center>
    <p id="rating"><%= @form.rank %></p>
    <p id="position"><%= @form.position %></p>
    <p id="pac"><%= @form.pace %> PAC</p>
    <p id="sho"><%= @form.shooting %> SHO</p>
    <p id="pas"><%= @form.passing %> PAS</p>
    <p id="dri"><%= @form.dribbling %> DRI</p>
    <p id="def"><%= @form.defending %> DEF</p>
    <p id="phy"><%= @form.physicality %> PHY</p>
    <img id="img" src="<%= @form.image %>" height="120" width="120">
    <img id="club" src="<%= @form.club %>" height="45" width="45">
    <img id="flag" src="<%= @form.flag %>" height="27" width="45">
    <center><p id="cem">Basic</p></center>
    </div>


</body>


</html>